.packages {
  padding: 90px 48px;
  background: #f4f4f1;
}

.packages__title {
  text-align: center;
  margin-bottom: 50px;
}

.packages__title h2 {
  color: #0e3935;

  font-family: Georgia, serif;

  font-size: clamp(2rem, 3vw, 3.5rem);

  font-weight: 400;
}

.packages__title p {
  margin-top: 14px;

  color: #7d7d7d;
}

.packages__grid {
  display: grid;

  grid-template-columns: repeat(4, 1fr);

  gap: 22px;

  max-width: 1300px;

  margin: auto;
}

.package-card {
  color: white;

  padding: 34px 26px;

  border-radius: 14px;

  min-height: 560px;

  display: flex;

  flex-direction: column;
}

.ruby {
  background: #854848;
}

.sapphire {
  background: #29465e;
}

.emerald {
  background: #3a615a;
}

.amethyst {
  background: #694c71;
}

.package-card h3 {
  font-family: Georgia, serif;

  font-size: 2rem;

  font-weight: 400;
}

.package-card span {
  margin-top: 6px;

  opacity: .9;
}

.package-card ul {
  margin-top: 30px;

  display: flex;

  flex-direction: column;

  gap: 18px;
}

.package-card li {
  list-style: none;

  font-size: 14px;

  line-height: 1.7;
}

.package-custom {
  margin-top: 36px;

  line-height: 2;
}

.package-card button {
  margin-top: auto;

  border: none;

  background: white;

  color: #0e3935;

  padding: 14px;

  border-radius: 999px;

  cursor: pointer;
}

@media(max-width:1000px){

.packages__grid{
grid-template-columns:1fr 1fr;
}

}

@media(max-width:650px){

.packages__grid{
grid-template-columns:1fr;
}

}

.moments__divider {
  margin-top: 20px;

  width: 100%;

  max-width: 480px;

  display: block;
}